ion-content {
  .logo {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50%;
    }

    h2 {
      font-weight: bold;
      color: var(--ion-color-primary);
    }
  }

  ion-list {
    ion-item {
      --background: #f0f0f0;
      margin: 8px;
      --border-radius: 8px;
      --padding-start: 12px;
      --padding-end: 12px;

      ion-icon {
        margin-top: 20px;
      }
    }
  }
}
